/bg_b1.png
/bg_button.gif
/bg_button_left.gif
/bg_button_right.gif
/bg_find_h3.gif
/bg_help.gif
/bg_line1.gif
/bg_quote2.gif
/bg_set.gif
/bg_spell.gif
/bg_text_tool.gif
/bx_set_110302.gif
/ico_extend.png
/icon_set.gif
