<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>

<!-- <sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal"/>
</sec:authorize> -->

<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>


<div class="container" id="wrapper">
    <form>
    	<input type="hidden" th:value="${board.getId()}" id="id">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" placeholder="제목" th:value="${board.getTitle()}" id="title">
        </div>
        
        <div class="form-group"> 
            <label for="keyword">키워드</label>
            <input type="text" class="form-control" placeholder="키워드 (콤마(,)로 구분하여 여러 키워드를 작성해보세요." th:value="${board.getKeywords()}" id="keywords">
        </div>
        
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control summernote" rows="5" th:utext="${board.getContent()}" id="content"></textarea>
        </div>

    </form>
    <hr>
    <div class="pull-right">
	    <button id="btn-edit" class="btn btn-primary">수정하기</button>
	    <button id="btn-temp-save" class="btn btn-default" th:if="${board.isPostYn()} == false">게시하기</button>
    </div>
<!-- 버튼을 밖으로 빼는건 json 요청을 하기 때문이다 -->
</div>


<script src="/res/js/board.js"></script>

<footer th:replace="/layout/footer.html :: fragment-footer"></footer>

</body>
</html>